@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero background styles */
.hero {
    background: url('https://images.unsplash.com/photo-1448697138198-9aa6d0d84bf4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

/* Lime color button styles */
.lime_btn {
    @apply border rounded-md border-lime-700 bg-lime-700 text-white hover:bg-white hover:text-lime-700 text-center;
}

.lime_btn_auth {
    @apply bg-lime-800 text-white font-semibold text-lg rounded-lg hover:bg-lime-700 transition duration-300 shadow-md;
}

.auth_input {
    @apply pl-12 pr-4 py-3 w-full rounded-lg bg-gray-100 focus:outline-none focus:ring-2 focus:ring-lime-500 text-gray-700 text-base shadow-sm transition duration-200;
}

/* Nav Links styles */
.nav_link {
    @apply hover:border-b-4 hover:border-lime-700;
}

/* Green text style */
.green__text {
    @apply text-[#21431E];
}

/* Banner background styles */
.banner {
    background: url('https://images.unsplash.com/photo-1483794344563-d27a8d18014e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
  
/* Footer background styles */
.footer {
    background: url('https://images.unsplash.com/photo-1534483099679-d19cc1dab482?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* Dashboard */
.sidenav_items {
    @apply gap-3 flex items-center px-4 py-3 text-gray-300 hover:bg-lime-700 hover:text-white rounded-lg transition-colors;
}

.page_title {
    font-size: 20px;
}